* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 1440px;
}

body {
    position: relative;
}

/* Make navaigation page fixed to the desired location */
.pages {
    position: absolute;
    top: 1200px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-size: 20px;
    

}

.space {
    margin-right: 5px;
}

/* 100% heigh view of each section */
section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    scroll-snap-align: start;

    /* to give margin for navigation page */
    scroll-margin-left: 100px;
    /* width: calc(100vw - 100px); */


}

/* Section background color */
.one,
.three,
.five {
    background-color: #ce2027;
    color: lightgray;
}

.two,
.four {
    background-color: lightgray;
    color: #ce2027;
}

/* scroll snap effect */
/* y type is for vertical and x is for horizontal */
/* mandatory is used to snap to the point when scrolling even a bit */

/* After apply css properties for scroll snap type, overflow-y and height -> the child need scroll css properties */
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: auto smooth;
}